.Body{
    align-content: center;
    background-color: whitesmoke;
}

.PopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFE787;
    padding: 10px;
}

.PopUp > div {
    margin: 5px 0; /* Add some vertical spacing between rows */
    text-align: center; /* Center the text */
}

.PopUp input {
    margin-left: 5px; /* Add some spacing after labels */
}
